/*
 * Peach - Clean & Smooth Admin Template
 * by Stammi <http://themeforest.net/user/Stammi>
 * 
 * ==================
 *   Header Styling
 * ==================
 * 
 * -----------------
 * TABLE OF CONTENTS
 * -----------------
 * 
 * 1) Generic
 * 2) Header: Toolbar
 *    a) Small button
 * 	  b) Large button
 * 3) Header: Main
 */

/* ==================================================
 * 1) Generic
 * ================================================== */
header {
	position: relative;
}/* ==================================================
 * 2) Header: Toolbar: Generic styling
 * ================================================== */
#header_toolbar {
	height: 40px;
	width: 100%;
	/* The black toolbar gradient :) */
	background: #313131; /* Old browsers */
	background: -moz-linear-gradient(top,  #313131 0%, #101010 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313131), color-stop(100%,#101010)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #313131 0%,#101010 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #313131 0%,#101010 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #313131 0%,#101010 100%); /* IE10+ */
	background: linear-gradient(top,  #313131 0%,#101010 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313131', endColorstr='#101010',GradientType=0 ); /* IE6-9 */
}
#header_toolbar h1 {
	margin: 0 0;
}

/* The .grid_4 */
header > div > div > div {
	text-align: right;
	height: 40px;
}

.toolbar_small, .toolbar_large {
	display: inline-block;
	position: relative;
	margin-left: 5px;
}

/* ==================================================
 * 2a) Header: Toolbar: The small button
 * ================================================== */

.toolbar_small .toolbutton {
	cursor: pointer;
	position: relative;
	height: 25px;
	margin: 6px 0;
	/* The button styling */
	border-radius: 3px;
	border: 1px solid #000;
	/* The shadows */
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
	-moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
	background: url(../img/sprites/toolbar/bg-normal.png);
}

.toolbar_small .toolbutton:hover {
	background: url(../img/sprites/toolbar/bg-hover.png);
}

.toolbar_small .toolbutton img {
	margin: 7px 10px;
	margin-top: 5px;
	display: block;
}

.toolbar_small > .toolbutton > span {
	display: inline-block;
	height: 14px;
	width: 14px;
	background: url(../img/sprites/toolbar/bg-counter.png);
	/* Positioning */
	position: absolute;
	top: -5px;
	right: -5px;
	/* Center the text */
	text-align: center;
}

/* 
 * The toolbox
 */

.toolbox {
	text-align: left;
	position: absolute;
	width: 300px;
	left: -250px;
	top: 43px;
	z-index: 400;
	/* Styling */
	background: #ededed;
	border-radius: 3px;
	border: 1px solid #1e1e1e;
	/* Outer shadow */
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.17);
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.17);
	display: none; /* Initally hidden */
}

.toolbox h3 {
	background: url(../img/sprites/toolbar/toolbox/bg-header.png);
	height: 27px;
	margin: 0;
	padding: 0 10px;
	line-height: 27px;
	/* Inset shadow */
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
}

.toolbox p {
	padding: 10px;
	margin: 0;
}

.toolbox .arrow {
	display: block;
	background: url(../img/sprites/toolbar/toolbox/arrow.png);
	width: 17px;
	height: 12px;
	position: absolute;
	right: 23px;
	top: -11px;
}

/*
 * Mails
 */
.toolbox .mail {
	padding: 0 10px;
}

.toolbox .mail li {
	list-style: none;
	display: block;
	margin-bottom: 10px;
	padding-left: 25px;
	background: url(../img/icons/packs/fugue/16x16/mail.png) left no-repeat;
}

.toolbox .mail a {
	color: #222222;
	font-size: 13px;
}

.toolbox .mail a:hover, .toolbox .mail a:active {
	color: #305883;
}

.toolbox .mail li.read, .toolbox .mail li:hover {
	background: url(../img/icons/packs/fugue/16x16/mail-open.png) left no-repeat;
}

.toolbox .mail li strong {
	margin-right: 5px;
	color: #164a7e;
}

.toolbox .mail li small {
	display: block;
	color: #58646D;
}

.toolbox .inbox {
	display: block;
	height: 30px;
	line-height: 30px;
	border-top: 1px solid #c8c8c8;
	background: url(../img/sprites/boxes/bg-action.png) repeat-x #f7f7f7;
	text-align: right;
	padding: 0 20px;
	color: #164a7e;
	border-radius: 0 0 3px 3px;
}

/* ==================================================
 * 2a) Header: Toolbar: The large button
 * ================================================== */

.toolbar_large .toolbutton {
	position: relative;
	height: 25px;
	line-height: 25px;
	margin: 6px 0;
	/* The button styling */
	border-radius: 3px;
	border: 1px solid #000;
	/* The shadows */
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
	-moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
	background: url(../img/sprites/toolbar/bg-normal.png);
}

.toolbar_large .toolbutton img {
	margin-top: 2px;
}

.toolbar_large .toolcaption:hover {
	background: url(../img/sprites/toolbar/bg-hover.png);
}

.toolbar_large .toolicon, .toolbar_large .toolcaption, .toolbar_large .toolmenu {
	float: left;
}

.toolbar_large .toolicon {
	display: inline-block;
	width: 30px;
	height: 25px;
	line-height: 20px;
	text-align: center;
	background: url(../img/sprites/toolbar/divider.png) no-repeat top right;
}

.toolbar_large .toolcaption {
	text-align: left;
	cursor: pointer;
	display: inline-block;
	height: 25px;
	padding: 0 5px 0 5px;
}

.toolbar_large .toolcaption span {
	position: relative;
}

/*
 * The menu
 */

.toolbar_large .toolcaption.active {
	background: url(../img/sprites/toolbar/bg-active.png);
	color: #000;
	text-shadow: none;
	border-radius: 0 3px 0 0;
}

.toolbar_large .dropdown {
	position: absolute;
	top: 25px;
	right: -1px;
	background: #fafafa;
	border-radius: 0 0 3px 3px;
	border: 1px solid #343434;
	border-top: none;
	text-align: left;
	padding: 0 4px;
	z-index: 400;
	display: none; /* Initally hidden */
}

.toolbar_large .dropdown ul {
	padding-left: 0;
	margin: 2px 0 5px 0;
}

.toolbar_large .dropdown li {
	list-style: none;
	height: 24px;
	border: 1px solid #fafafa;
}

.toolbar_large .dropdown a {
	font-size: 12px;
	padding-left: 5px;
}

.toolbar_large .dropdown li:hover, .toolbar_large .dropdown li:active {
	background: #000;
	border: 1px solid #232323;
	border-radius: 3px;
	background-image: url(../img/sprites/toolbar/bg-menu-hover.png);
	/* The inset shadow */
	-webkit-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.24);
	-moz-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.24);
	box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.24);
}

/* ==================================================
 * 3) Header: Main
 *    The blue bar :)
 * ================================================== */
#header_main {
	height: 60px;
	border-top: 1px solid #7a9cc0;
	border-bottom: 1px solid #04172b;
	padding-top: 29px;
	/* The beautiful blue gradient :) */
	background: rgb(54,111,172); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(54,111,172,1) 0%, rgba(24,75,130,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(54,111,172,1)), color-stop(100%,rgba(24,75,130,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(54,111,172,1) 0%,rgba(24,75,130,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(54,111,172,1) 0%,rgba(24,75,130,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(54,111,172,1) 0%,rgba(24,75,130,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(54,111,172,1) 0%,rgba(24,75,130,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#366fac', endColorstr='#184b82',GradientType=0 ); /* IE6-9 */
}
#tooltip {
   position:absolute;
   visibility:hidden;
   z-index:100;
   background-color:#FFEEC7;
   border:1px solid black;
   padding:0.2em;
   font-size:0.8em;
}
