
#menu {
	float: left;
	font-family: Tahoma;
	font-size: 13px;
	height: 38px;
	position: relative;
	width: 900px;
	min-width: 900px;
	z-index: 500;
}

#menu ul {
	z-index: 500;
	margin:0; 
	padding:0; 
	list-style:none; 
	white-space:nowrap; 
	text-align:left; 
	/*height: 150px;*/
	line-height: 35px;
	/*padding: 0 20px 0 20px;*/
}
#menu ul {display:inline-block;} 

#menu li {margin:0; padding:0; list-style:none;}
#menu li {display:inline-block; display:inline;}
#menu ul ul {position:absolute; left:-9999px;}

#menu ul.level1 {margin:0 auto;}
#menu ul.level1 li.level1-li {float:left; display:block; position:relative;}

#menu b {position:absolute;} /* -- for IE6 non-flyout dropdowns to stop flickering - who knows why --*/

#menu a {display:block; font:13px Tahoma; color:#FFF; font-weight:bold; line-height:35px; text-decoration:none;padding:0 20px 0 20px;}
#menu ul.level1 li.level1-li a.level1-a {float:left;}

#menu ul.level2{background: #000;}

#menu ul li:hover > ul {visibility:visible; left:0px; top:35px;}
#menu ul ul li:hover > ul {visibility:visible; left:100%; top:auto; margin-top:-35px; }
#menu a:hover ul {left:0; top:35px;}

#menu a:hover a:hover ul, 
#menu a:hover a:hover a:hover ul {left:100%; visibility:visible;}

#menu a:hover ul ul, 
#menu a:hover a:hover ul ul {left:-9999px;}

#menu li a.drop {background:transparent url(../images/white-down.gif) no-repeat right center;}
#menu li a.fly {background:transparent url(../images/white-right.gif) no-repeat right center;}
#menu li.left ul a.fly {background:transparent url(../images/white-left.gif) no-repeat left center;}

#menu li a:hover,
#menu li a.fly:hover {color:#fff; background: #000;} 
#menu li:hover > a,
#menu ul li:hover > a.fly {color:#fff; background: #000;}

#menu ul.level2 li a:hover {color:#95CAFF; background: #5E5E5E;} 

#menu table {position:absolute; height:0; width:0; left:0; border-collapse:collapse; margin-top:-6px;}
#menu table table {position:absolute; left:99%; height:0; width:0; border-collapse:collapse; margin-top:-30px; margin-left:-4px;}

.btdasbord{
	 background: #014464;
	 background: -moz-linear-gradient(top, #0D658E, #0C577A 50%, #014D71 51%, #003E5C);
	 background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0E658E), color-stop(.5, #0C577A), color-stop(.5, #014D71), to(#003E5C)); 
	  -moz-border-radius: 10px;
	 -webkit-border-radius: 10px;
	 border-radius: 10px;

	 border: 1px solid #368DBE;
	 border-top: 1px solid #c3d6df;

	 text-shadow: 1px 1px 1px black;

	 /* BOX SHADOW */
	 -moz-box-shadow: 0 1px 3px black;
	 -webkit-box-shadow: 0 1px 3px black;
	 box-shadow: 0 1px 3px black;

	 width: 200px;
	 height: 100px;
	 line-height: 100px;
	 color: white;
	 text-decoration: none;
	 font-size: 20px;
	 font-family: helvetica, arial;
	 font-weight: bold;
	 display: block;
	 text-align: center;
	 position: relative;

}

