/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    margin-top: 50px;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper2 {
    margin-top: 50px;
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#wrapper2.toggled {
    padding-right: 250px;
}

#logoHome{
    max-height: 44px;
    margin-top: 4px;
}

#logoHome:hover{
    opacity: 0.6;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    top: 50px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #444444;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper2 {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #444444;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
#wrapper2.toggled #sidebar-wrapper2 {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    left: 0;
}

/*#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}*/

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #C9D1DD;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #6E737A;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.blocTop{
    padding-bottom: 10px;
    border-bottom: 2px solid #3b8183;;
}
.blocBot{
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
}
#menu-toggle{
    height: auto;
    padding: 6px;
    margin-top: 8px;
    margin-left: 5px;
}
#btnLogOut{
    height: auto;
    padding: 6px;
    margin-top: 8px;
    margin-right: 10px;
}
.headerRim > h3{
    display: inline-block;
    font-size: 14px;
    font-weight: bold; 
}
.rimTab{
    border: 1px solid #aaa;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #ddd;
}
.dropdownRim{
    float: right;
    margin-top: 13px;
    margin-top: 7px;
    padding-right: 4px;
}
.majServ,.majRim{
    font-size: 11px;
    text-align: center;
}
.bullesContainer{
    margin-top: 5px;
    text-align: center;
}
.bullesContainer > a{
    padding: 6px 10px;
}
.bullesInfo{
    font-size: 20px;
}
.headerRim{
    text-align: center;
}
.imagesContainer img{
    width: 89px;
}
.clip{ 
    position: absolute;
    top: 0;
    left: 0;
    cursor: zoom-in;
}
.clipwrapper{ 
    display: inline-block;
    position: relative;
    height: 316px;
    width: 89px;
}
.pos-1{
    clip:rect(0 89px 316px 0);
}
.pos-2{
    clip: rect(317px 182px 632px 0);
    top: -317px;
}
.modalSpan{
    display: block;
}
.dropdown-menu,.form-control,.modal-content,.input-group-addon,.btn{
    border-radius: 0 !important;
}
.navbar-header .navbar-brand{
    padding: 15px 5px;
}
.offScroll{
    background-color: #dd0000 !important;
    border-color: #aa0000 !important;
}
.onScroll{
    background-color: #00aa00 !important;
    border-color: #006600 !important;
}
.form-signin{
    background-color: #fff;
    border: 1px solid #D0D1D5;
}
#titleNav{
    background-color: transparent !important;
}
.popupAlert{
    display: inline-block;
    position: fixed;
    top: 60px;
    left: 30px;
    z-index: 1000;
}
.title-head-search{
    background-color:#BE1622;
    color:#fff;
}
.text-head-search{
    background-color: #fff;
    color: #666;
}
.title-table-head{
    background: #333 !important;
}
.text-search{
    background-color: #555;
    color: #fff;
}
.title-search{
    background-color: #ccc;
    color: #666;
}
.sub-text-head-search{
    background-color: #fff;
    color: #666;
}
.sub-title-head-search{
    background: #333 !important;
    color: #fff;
}
.navbar-header{
    width: 100%;
}
.nav-top-menu{
    margin-top: 8px;
    margin-right: 10px;
    height: auto !important;
    padding: 0 0px !important;
}
.top-nav-dropdown{
    left: 0 !important;
}
.form-inline .form-group input,.form-inline .form-group select,.form-inline .form-group textarea {
    width:140px;
}
.form-inline .form-group{
    display: inline-block;
    padding: 5px;
}
@media (min-width: 768px){
    .label-form-upper{
        width: auto !important;
    }
}
@media screen and (max-width: 767px){
    h1{
        font-size: 25px !important;
    }
    #rechNbr{
        font-size: 11px !important;
        padding: 12px !important;
        height: 40px !important;
    }
    #rechLabel{
        font-size: 11px !important;
        padding: 12px 5px !important;
        height: 40px !important;
    }
    #id-form{
        font-size: 9px;
    }
}
@media (min-width: 951px){
    #menu-toggle2{
        display: none;
    }
}
@media screen and (max-width: 950px){
    .hiddenMenu{
        display: none !important;
    }
}