@-webkit-keyframes slidehome{

	from {
		-webkit-transform : translate(720px);
	}
	to{
		-webkit-transform : translate(0px);
	}
}


@-webkit-keyframes slidehomesortie{

	from {
		-webkit-transform : translate(0px);
		
	}
	to{
		-webkit-transform : translate(-720px);
				
	}
}

.entrer{	
	animation: 2s slidehome;
	-moz-animation : 2s slidehome;
	-webkit-animation: 2s slidehome;
	-o-animation: 2s slidehome;
}

.sortie{
	animation: 2s slidehomesortie ;
	-moz-animation : 2s slidehomesortie;
	-webkit-animation: 2s slidehomesortie;
	-o-animation: 2s slidehomesortie;

}
